* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

main {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;  
}
